@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <style>
        body {
            background-color: rgb(255, 221, 221);
        }
    </style>
</head>
<body>
    <div></div>
    <br />
    <div class="jumbotron">
        <h1 style="color:darkblue">LocalsScout</h1>
        <p class="lead">This site will help you find the best suited location for Renting/Buying a bussines store.</p>
        <div>

        </div>
        <div>
            <img src="~/sliki/Skopje.png" style="width:450px; height:300px; margin-left:280px" />
        </div>
    </div>
</body>
</html>

